<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Principal.master.cs" Inherits="DataDance.Principal" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <meta charset="utf-8" />
    <title>Data Dance</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0. minimum-scale=1.0" />
	<%--<link rel="stylesheet" href="css/bootstrap.min.css" />
    <link href="css/bootswatch.less" rel="stylesheet" />
    <link href="css/jquery.dataTables.min.css" rel="stylesheet" />    
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>--%>

     <!--CSS-->    
    <link href="css/style.css" rel="stylesheet"/>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/jquery.dataTables.min.css" rel="stylesheet"  /> 
    <link href="css/animate.css" rel="stylesheet" />

    <!--JS-->
    <script src="js/jquery-3.1.1.min.js"></script>
    <script src="js/jquery.dataTables.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
     <form runat="server">
     <!-- container section start -->
  <section id="container" class="">          
      <header class="header dark-bg">
            <div class="toggle-nav">
                <%--icono--%>
                <div class="icon-reorder tooltips" data-original-title="Toggle Navigation" data-placement="bottom"><i class=""></i></div>
            </div>

            <!--logo start-->
            <a  class="logo">Data<span class="lite">Dance</span></a>
            <!--logo end-->

            <div class="nav search-row" id="top_menu">
                <!--  search form start -->
<%--                <ul class="nav top-menu">                    
                    <li>
                        <form class="navbar-form">
                            <input class="form-control" placeholder="Buscar" type="text">
                        </form>
                    </li>                    
                </ul>--%>
                <!--  search form end -->                
            </div>

            <div class="top-nav notification-row">                
                <!-- notificatoin dropdown start-->
                <ul class="nav pull-right top-menu">
 
                    <!-- user login dropdown start-->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                            <span class="profile-ava">
                               <%-- <img alt="" src="img/avatar1_small.jpg">--%>
                            </span>
                            <span class="username">Gill</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu extended logout">
                            <div class="log-arrow-up"></div>
                            <li class="eborder-top">
                                <a href="#"><i class=""></i>Perfil</a>
                            </li>
                            <li>
                                <a href="login.aspx"><i class="icon_key_alt"></i> Cerrar Sesión</a>
                            </li>
                        </ul>
                    </li>
                    <!-- user login dropdown end -->
                </ul>
                <!-- notificatoin dropdown end-->
            </div>
      </header>      
      <!--header end-->
      <br />
      <br />
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">                
                  <li class="active">
                      <a class="" href="Usuario.aspx">
                          <%--<i class="icon_house_alt"></i>--%>
                          <span>Usuario</span>
                      </a>
                  </li>
				  <li class="sub-menu">
                      <a href="Evento.aspx" class="">
     <%--                     <i class="icon_document_alt"></i>--%>
                          <span>Evento</span>
                      </a>                    
                  </li>    
                  <li class="sub-menu">
                      <a href="Vestuario.aspx" class="">
     <%--                     <i class="icon_document_alt"></i>--%>
                          <span>Vestuario</span>
                      </a>                    
                  </li>                                            
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
  </section>
        <br />   
        <br />
        <br />
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-9">     
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server"/>
             </div>
            <div class="col-sm-1"></div>
    </div>
  </form>


	
</body>
</html>
